:root {
  --mainColor: #161515;
  --secondaryColor: #1a1919;

  --borderColor: #163e44;

  --mainText: #fff;
  --secondaryText: #eeeeee;

  --themeDotBorder: #fff;

  --previewBg: rgba(39, 48, 56, 0.8);
  --previewShadow: #22272c;

  --buttonColor: #161515;
}
